{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@400;600;700;800;900&family=Space+Mono:wght@400;700&family=Titillium+Web:wght@200;400;600;700;900&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAk5JREFUOE+l
k19IU3EUx7/n/u71bnNj6lq5LdpiythGSjUK0yKCLKSEomAF9WDUcw/2XC9CL77WQz4EQWRB/8CC
6KEktUEY1UMiBurcpm40xbm53Xt3wiGRWCF4Hg+cz+FwPl/CFou2OI//Aj6kpsJCUW6A4AfzqMba
7SNOX+rPpf8EDM7FmwTxYCm/YjfZrJCIoJKY9FXXnLMryigR8SpoA+Buz5WoPRBp5qXpA6WZoWNV
kevw7Y/ArKgwCQGZpEeN1trLRKRtAIykE51MeJz8+EJtWu7BuNoFxdMKyWyHYBlC07Cimr+zWtV5
siE8sQ4wPBvfIxS5Xzf04M+HZ3E4PIN33IOaQBswP4t6swqvz4tcLofY2ESmJhxqbnPuSlZOSBcK
Rxf0wkAZsCTmZ+GKtcO93cBQ9jzsjRcR2lkP1aRCNZlgGAZSiRTGNb52PNB0rwKIZZJnJIme6szQ
ikVY37bD784huyRjJH8VNl8bDK2EwtgALKHTMNXWweZ2RVscnv4KYHgxXkeGHANzQy6dhm1qEObs
A1ikOWi6gF4uQxFlxLW9sHbcAdHqGPe2ODzdv7/wiZOW7PuvfX5P/QXvbi9KxRK+vL4Fr/oSilLG
t7kg9IO9sDp3VDRgYOCQw31q3RtfPbnf7QqGb6rVFquQZcSnJ7G89ANsdmFbYB+EooCZiyRRvswc
bXV43mzwYCiTvCQR9wFUtWbcJAHPGYiC6LPQRVfGuZjtoMbiX0VabY5kkkEmnCCmBUXKP4vU+RfX
pKvYtymVNxuyLafxF+uy1hGEYJaAAAAAAElFTkSuQmCC">

<!-- fontawesome -->
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-5/all-5.15.4.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G8R0Q0KB5E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G8R0Q0KB5E');
</script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/experience.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}